.content-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('/assets/background4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}
.content-section .content-container{
    position: absolute;
    top:var(--size-header)
}
.content-section .content-container .content-block{

}
